extends ../adminLayouts/layoutAdmin.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.text-center.display-4 Quản lý người dùng
  
  .container
    .row
      h3.col-md-6 Danh sách các người dùng
      .col-md-6.text-right
          a.btn.btn-primary(href="/admin/users/create") Thêm mới
    table.table.w-100
      thead
        tr
          th(scope='col') #
          th(scope='col') Họ tên
          th(scope='col') Email
          th(scope='col') Phone
          th(scope='col') Xử lý

      tbody
        each item,index in users
          tr
            th(scope='row')
              img(src=item.avatar?item.avatar:'/images/avatar-default.jpeg', alt='avatar' class='rounded-circle' style={"width":"40px","height":"40px","object-fit":"cover"})
            td=item.name
            td=item.email
            td=item.phone
            td
              a.btn.btn-danger.mr-2(href=`/admin/users/delete/${item.id}` onclick="return confirm('Bạn có muốn xoá người dùng này không?');") 
                i.fas.fa-trash-alt
              a.btn.btn-info(href=`/admin/users/update/${item.id}`)
                i.fas.fa-user-edit


