extends ../adminLayouts/layoutAdmin.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.text-center.display-4 Quản lý người dùng
      
  .container
    .h3 Cập nhật người dùng
    form(action=`/admin/users/update/${data._id}`,id="formCreate", method="POST", enctype="multipart/form-data")
      #summaryError
        //- .alert.alert-danger(role='alert')
        //-   | A simple danger alert—check it out!
      .form-row
        .form-group.col-md-12.col-xs-12
          label(for='name') Tên người dùng
          input#name.form-control(type='text',name='name', aria-describedby='emailHelp', placeholder='Nhập tên người dùng', value=data.name)
        //- .form-group.col-md-6.col-xs-12
        //-   label(for='email') Email
        //-   input#email.form-control(type='email',name='email', aria-describedby='emailHelp', placeholder='Nhập email', value=data.email)
      .form-group
        label(for='phone') Số điện thoại
        input#phone.form-control(type='number',name='phone', aria-describedby='emailHelp', placeholder='Nhập số điện thoại',  value=data.phone)
      .form-group
        label(for='password') Mật khẩu
        input#password.form-control(type='password',name='password', aria-describedby='emailHelp', placeholder='Nhập password',  value=data.password)

      .form-group.form-check.form-check-inline
        input#isAdmin.form-check-input(type='checkbox' name="isAdmin", checked=data.isAdmin)
        label.form-check-label(for='isAdmin') Administrator?
      
      .form-group
        label(for='photos') Avatar
        input#photos.form-control-file(type='file',name="avatar" ,accept="image/x-png,image/gif,image/jpeg")
        #photos-privew.row.my-4
          .col-md-3.col-sm-6
            img.img-thumbnail(src=data.avatar)
      .py-2
        a(href="/admin/users")
          button.btn.btn-danger.mr-2(type='button') Trở về
        button.btn.btn-primary(type='button' onclick="submitUpdateForm()") Cập nhật
block jsfooter 
    script(src='/js/custom/users.js')
    script.
      //- console.log(#{data});



